<!--this file uses html, flask, and UI, list of recipes-->
<!DOCTYPE html>
<html>

<head>
  <title>Welcome page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="js/uikit.min.js"></script>
  <script src="js/uikit-icons.min.js"></script>
  <script src="ui.js"></script>
  <script src="uikit/dist/js/uikit-icons.min.js"></script>
  <script src="https://threejs.org/build/three.js"></script>
</head>

<body>
<h1>This item is added to your refrigerator:</h1>
{% for label,j in d.items() %}
  <h3>{{label}}</h3>
	{% for element in j %}
	<h1> Recipes: </h1>
			<h3> {{element}} </h3>
	{% endfor %}
{% endfor %}
<style>
  h3{
    font-family: 'Raleway', sans-serif;
    size: 25px;
    text-align: center;

  }

  h1{
    color:#e67c82;
  }

  h2{
    text-align: center;
  }
</style>

</body>

</html>
