<!--this file uses html, flask, and UI-->
<!DOCTYPE html>
<html>

<head>
  <title>Welcome page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="js/uikit.min.js"></script>
  <script src="js/uikit-icons.min.js"></script>
  <script src="ui.js"></script>
  <script src="uikit/dist/js/uikit-icons.min.js"></script>
  <script src="https://threejs.org/build/three.js"></script>
</head>

<body>
  <div class="nav">
  <a href="index3.html" class="about">about</a>
  <a href="index4.html" class="faq">faq</a>
  <a href= "index2.html" class = "home">home</a>
<!--  <a href="#" class="reduce 101">reduce 101</a> -->
</div>

	<h1> Zero Waste </h1>
	<h2> Eliminate Food Waste <br> AI generated recipes </h2>
  <img src="https://image.flaticon.com/icons/svg/2056/2056181.svg"
  alt="Icon made by fjstudio from flaticon.com">
 <button type="button" onclick="alert('Find Recipes')">Upload a picture of my food</button>
 <button type="button" onclick="alert('Find Recipes')">Upload a picture of my receipt</button>

 <form action="/" method = "post" enctype="multipart/form-data">
  <input type="file" name="picture" id="picture">
  <input type="submit">
  </form>

 <!--	<p>Items in your refridgerator:</p>
{% for label,j in d.items() %}
  <p>{{label}}</p>
	{% for element in j %}
	<p> Recipies: </p>
			<p> {{element}} </p>
	{% endfor %}
{% endfor %}
-->
</body>

</html>
