<!DOCTYPE html>
<html>

<head>
  <title>Welcome page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css" />
  <script src="js/uikit.min.js"></script>
  <script src="js/uikit-icons.min.js"></script>
  <script src="ui.js"></script>
  <script src="uikit/dist/js/uikit-icons.min.js"></script>
</head>

<body>
  <h1> Zero Waste </h1>
  <h2> Eliminate Food Waste <br> AI generated recipes </h2>
  {% for label in labels %}
  <img src="https://www.flaticon.com/free-icon/bin_2056181" alt="Icon made by fjstudio from flaticon.com" width="500" height="600">
<!--  <p>{{ label['Name'] }}</p>
  {% endfor %}
  https://www.flaticon.com/download-icon
-->

  <button type="button" onclick="alert('Find Recipes')">Find Recipes</button>

</body>

</html>
