<!DOCTYPE html>
<html>

<head>
  <title>Welcome page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css" />
  <script src="js/uikit.min.js"></script>
  <script src="js/uikit-icons.min.js"></script>
  <script src="ui.js"></script>
  <script src="uikit/dist/js/uikit-icons.min.js"></script>
</head>

<body>
  <h1> Zero Waste </h1>
  <h2> Eliminate Food Waste <br> AI generated recipes </h2>
 <img src="https://image.flaticon.com/icons/svg/2056/2056181.svg"
 alt="Icon made by fjstudio from flaticon.com">
  <div class="container">
<button type="button" onclick="alert('Find Recipes')">Upload a picture of my food</button>
<button type="button" onclick="alert('Find Recipes')">Upload a picture of my receipt</button>
</div>
<!--
 {% for label in labels %}
<p>{{ label['Name'] }}</p>
  {% endfor %}
  https://www.flaticon.com/download-icon
-->

</body>

</html>
