<!--this file uses html, flask, and UI, home page-->
<!DOCTYPE html>
<html>

<head>
  <title>Welcome page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="js/uikit.min.js"></script>
  <script src="js/uikit-icons.min.js"></script>
  <script src="ui.js"></script>
  <script src="uikit/dist/js/uikit-icons.min.js"></script>
  <script src="https://threejs.org/build/three.js"></script>
</head>

<body>
  <div class="nav">
  <a href="index3.html" class="about">about</a>
  <a href="index4.html" class="faq">faq</a>
  <a href= "index7.html" class = "home">home</a>
<!--  <a href="#" class="reduce 101">reduce 101</a> -->
</div>

	<h1> Zero Waste </h1>
	<h2> Eliminate Food Waste <br> AI generated recipes </h2>
  <img src="https://image.flaticon.com/icons/svg/2056/2056181.svg"
  alt="Icon made by fjstudio from flaticon.com">

 	<form action="/index9" method = "post" enctype="multipart/form-data">
   <input type="file" name="picture" id="picture">
   <input type="submit">
<!--    <a href="/">Back</a> -->
 	</form>
   </div>
</html>
