<!--faq page -->
<!DOCTYPE html>
<head>
  <title>Welcome page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
  <script src="js/uikit.min.js"></script>
  <script src="js/uikit-icons.min.js"></script>
  <script src="ui.js"></script>
  <script src="uikit/dist/js/uikit-icons.min.js"></script>
  <script src="https://threejs.org/build/three.js"></script>
</head>

<body>
  <div class="nav">
  <a href="index3.html" class="about">about</a>
  <a href="index4.html" class="faq">faq</a>
  <a href= "index7.html" class = "home">home</a>
<!--  <a href="#" class="reduce 101">reduce 101</a> -->
</div>

	<h2> faq </h2>
  <h3> why don't expiration labels work? </h3>
  <p> According to <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0195405">Waste Management</a> 84% of
  people waste food according to the printed "expiration date" on items, which are not USDA approved.</p>
  <img src="https://image.flaticon.com/icons/svg/2056/2056181.svg"
  alt="Icon made by fjstudio from flaticon.com">
  <h3> "use by" vs. "best by" vs. "sell by"? According to <a href="https://time.com/5533317/food-labels-food-waste/">Times</a></h3>
  <ul>
  <li>"Use by" means it is the last day of prime quality</li>
  <li>"Best by" means prime taste quality</li>
  <li>"Sell by" marks for the store how long the item should be displayed</li>
</ul>
  <h3> are there current actions being taken? </h3>
  <p> Yes, according to the organization <a href="https://www.moveforhunger.org/reduce-food-waste-save-environment/">Move for Hunger</a>
    large non-profits and corporate organiztaions have pledged to cut back half of food waste in 11 years.

  <style>

h2{
  text-align: center;
  padding-left: 350px;
  font-family: 'Raleway', sans-serif;
}

h3{
  font-family: 'Raleway', sans-serif;
}

img{
  display: block;
  width:  20px;
  height: 20px;
  position: relative;
  left: 0px;
  top: -80px;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
  transition: .5s ease;
  backface-visibility: hidden;
}
  </style>

</body>

</html>
