 <!--about page -->
<!DOCTYPE html>
<html>

<head>
  <title>about</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css" />
  <script src="js/uikit.min.js"></script>
  <script src="js/uikit-icons.min.js"></script>
  <script src="ui.js"></script>
  <script src="uikit/dist/js/uikit-icons.min.js"></script>
</head>

<body>
  <div class="nav">
  <a href="index3.html" class="about">about</a>
  <a href="#" class="faq">faq</a>
  <a href="#" class="reduce 101">reduce 101</a>
  <a href= "#" class = "home">home</a>
</div>

  <h2> About </h2>
  <h3> Zero Waste: UI/UX Case Study </h3>
  <h4> Created during PennApps 2019 by Cindy Espinosa and Malini Kundamal <br>
     under route for social good.</h4>
  <img src="https://image.flaticon.com/icons/svg/2056/2056181.svg"
  alt="Icon made by fjstudio from flaticon.com">

  <p>Problem: Food goes to waste in fridges daily. </p>
  <p> Solution: An AI generated recipe tool that will maximize <br>
    how a person uses their food items in order to reduce waste. <br> There are more possibilities
  with this solution, because future iterations could <br> predict
  food spoiling based on expiration dates, climate, and geographic location.
</p>
  <p> Tools used for backend: python, amazon web services, machine learning, github<br>
    Tools used for frontend: Adobe Xd, UIkit, HTML5, CSS, github </p>
    <p> Competitive Research: We found that in the United States, about 4.2 trillion gallons of water <br>
      are wasted by not consuming @5% of food according to PLOS One as reported by LA Times. </p>
  <style>
  img{
      display: block;
      width:  20px;
      height: 20px;
      position: relative;
      left: 0px;
      top: -80px;
      z-index: -1;
      margin-left: auto;
      margin-right: auto;
      opacity: 0.5;
      transition: .5s ease;
      backface-visibility: hidden;
  }

  h2{
    text-align: center;
    padding-left: 350px;
  }
  </style>

</body>

</html>
